<h1>Hello{{title}}</h1>
<!--<h1>1+1={{sum(1,1)}}</h1>
<button class="{{classStr}}">按钮</button>
<h1 [attr.data-index] = "msg">这是一个msg</h1>
&lt;!&ndash;样式的三种写法&ndash;&gt;
<h1 class={{classStr}}>class</h1>
<h1 [class]="classStr">class1</h1>
<h1 [attr.class]="classStr">class2</h1>
&lt;!&ndash;普通写法&ndash;&gt;
<h1 class="bgBlue">class3</h1>

&lt;!&ndash;true起作用，false不起作用&ndash;&gt;
<h1 [class]="classObj">class4</h1>

&lt;!&ndash;数组&ndash;&gt;
<h1 [class]="['bgBlue','active','abc']" >class5</h1>
<h1 [class]="classArr" >class6</h1>
<h1 [style]="styleStr">class7</h1>
<h1 [style]="styleObj">class8</h1>
<h1 [style.background]="styleColor">class9</h1> &lt;!&ndash;这里编译器 style.  没有提示&ndash;&gt;
<h1 [style.width.px]="widthNum">class10</h1> &lt;!&ndash;这里编译器 style.  没有提示&ndash;&gt;

&lt;!&ndash;小括号绑定事件&ndash;&gt;
<button (click)="changeColor()">改变颜色</button>
<button (click)="changeButton($event)">改变颜色</button>-->

<!--条件渲染-->
<!--
<div *ngIf="person=='美国'">
  美国:500万
</div>
<div *ngIf="person=='巴西'">
  巴西:300万
</div>
&lt;!&ndash;频繁使用条件渲染会增加性能消耗&ndash;&gt;
<button (click)="togglePerson()" >切换国籍</button>

&lt;!&ndash;使用style进行条件渲染&ndash;&gt;
<div [style.display]="person=='美国'?'block':'none'" >
  美国:500万
</div>
<div  [style.display]="person=='巴西'?'block':'none'">
  巴西:300万
</div>

<ul>
  <li *ngFor ="let item of nameArr">{{item}}</li>
</ul>

<ul>
  <li *ngFor ="let item of nameArr; let i = index" (click)="choosePerson(item,i)">{{i}}  {{item}}</li>
</ul>

<ul>
  <li *ngFor ="let item of students">{{item.name}}的爱好是{{item.hobby}}</li>
</ul>


<div *ngFor="let color of colors let i=index let odd=odd">
  {{odd}}
  {{i}}
  {{color}}
</div>

<div [ngSwitch]="workState">
  <div *ngSwitchCase="'摸鱼'">Acfun</div>
  <div *ngSwitchCase="'工作'">技术中心304</div>
  <div *ngSwitchDefault>吸烟</div>
</div>

<div [ngSwitch]="orderState">
  <div *ngSwitchCase="1">待付款</div>
  <div *ngSwitchCase="2">已付款</div>
  <div *ngSwitchCase="3">运输中</div>
  <div *ngSwitchCase="4">送货中</div>
  <div *ngSwitchDefault>丢失</div>
</div>
-->

<!--ngModel获取-->
<div>
  <label for = "">用户名: </label>
  <input type="text" [(ngModel)]="username">
  <br>
  <label for = "">密 码: </label>
  <input type="text" [(ngModel)]="password">
  <br>
  <button (click)="clickLogin(username,password)">登录</button>
</div>
<h1>用户名:{{username|uppercase}}</h1>
<h1>密码:{{password}}</h1>
<!--通过临时变量获取-->
<div>
  <label for = "">用户名: </label>
  <input #input1 type="text"> <!--标签对象化-->
</div>
<div>
  <label for = "">密 码: </label>
  <input #input2 type="text">
  <br>
  <button (click)="clickLogin(input1.value,input2.value)">登录</button><!--input1和input2表示input对象-->
</div>
<h1>用户名:{{username}}</h1>
<h1>密码:{{password}}</h1>
<!--"|"管道-->
<h1>{{username|json}}</h1>
<h1>{{entity1|json}}</h1>
<h1>{{time1|date:"yyyy/MM/dd HH:mm:ss"}}</h1>
